.navbar {
  position: fixed; /* لجعل الـ navbar ثابتة في أعلى الصفحة */
  top: 0;
  left: 0;
  width: 100%; /* لجعل الـ navbar تمتد بعرض الصفحة */
  z-index: 9999; /* للتأكد من أنها تكون أعلى من جميع المحتويات الأخرى */
  background-color: #343a40; /* لون خلفية الـ navbar */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* إضافة ظل */
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: bold;
  color: #ffc107;
}

.nav-link {
  color: #f8f9fa;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ffc107;
}

body {
  padding-top: 80px; /* يجب ضبط هذا بناءً على ارتفاع الـ navbar */
  margin: 0;
  box-sizing: border-box;
}
